파이썬에서 Pandas는 데이터 분석을 위한 고수준의 자료구조와 데이터 분석 도구를 제공합니다.
pandas에서는 Series와 Dataframe가 있으며, Series는 1차원데이터를 다루는데, Dataframe은 2차원 데이터를 다르는데 효과적인 자료구조입니다.

In [1]:
#Dictionary
sample_dic = {'key1' : 'room_num_1', 'key2' : 'room_num_2'}
print(sample_dic['key1'])

room_num_1

In [8]:
#List vs Dictionary
stock_price_list = [42000, 34200, 35300, 43900, 41900]
print("===stock_price_list===")
for price in stock_price_list:
    print(price)
        
stock_price_dic = {'2019-08-12' : 42000,
                   '2019-08-13' : 34200,
                   '2019-08-14' : 35300,
                   '2019-08-15' : 43900,
                   '2019-08-16' : 41900
                  }
print("===stock_price_dic===")
print(stock_price_dic['2019-08-14'])

===stock_price_list===
42000
34200
35300
43900
41900
===stock_price_dic===
35300

Pandas Series는 List와도 비슷하고 Dictionary하고도 비슷한 자료구조이다.

In [14]:
#Series
from pandas import Series, DataFrame
stock_price_list1 = Series([42000, 34200, 35300, 43900, 41900])
print(stock_price_list1)

0    42000
1    34200
2    35300
3    43900
4    41900
dtype: int64

In [16]:
print(stock_price_list1[0])
print(stock_price_list1[1])

42000
34200

In [17]:
#Series indexing
stock_price_list1 = Series([42000, 34200, 35300, 43900, 41900],
                           index = ['2019-08-12',
                                   '2019-08-13',
                                   '2019-08-14',
                                   '2019-08-15',
                                   '2019-08-16'])
print(stock_price_list1)

2019-08-12    42000
2019-08-13    34200
2019-08-14    35300
2019-08-15    43900
2019-08-16    41900
dtype: int64

In [18]:
print(stock_price_list1['2019-08-16'])

41900

In [19]:
for date in stock_price_list1.index:
    print(date)

2019-08-12
2019-08-13
2019-08-14
2019-08-15
2019-08-16

In [20]:
for price in stock_price_list1.values:
    print(price)

42000
34200
35300
43900
41900

In [21]:
#Series 덧셈, 뺄셈
class_num_1 = Series([100, 300, 500], index = ['Youngsu', 'Chulsu', 'Daon'])
class_num_2 = Series([300, 400, 100], index = ['Daon', 'Youngsu', 'Chulsu'])

In [23]:
addition = class_num_1 + class_num_2
print(addition)

Chulsu     400
Daon       800
Youngsu    500
dtype: int64

In [24]:
subtraction = class_num_1 - class_num_2
print(subtraction)

Chulsu     200
Daon       200
Youngsu   -300
dtype: int64

In [3]:
#DataFrame 생성
from pandas import Series, DataFrame

raw_data = {'col0' : [1,2,3,4],
           'col1' : [10,20,30,40],
           'col2' : [100,200,300,400]}

data = DataFrame(raw_data)
print(data)
print(raw_data)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400
{'col0': [1, 2, 3, 4], 'col1': [10, 20, 30, 40], 'col2': [100, 200, 300, 400]}

In [4]:
data['col0']

0    1
1    2
2    3
3    4
Name: col0, dtype: int64

In [5]:
data['col1']

0    10
1    20
2    30
3    40
Name: col1, dtype: int64

In [7]:
type(data['col1'])
#dataframe에 하나의 컬럼의 tpye을 보면 series객체임을 알 수 있다.
#결국 dataframe은 series객체로 구성된 자료구조인것이다.

pandas.core.series.Series

In [13]:
#DataFrame을 통해 날짜별 주가(시가, 고가, 저가, 종가) 구조를 만들어 보자
#           open   high    low  close
#16.02.29  11650  12100  11600  11900
#16.02.26  11100  11800  11050  11600
#16.02.25  11200  11200  10900  11000
#16.02.24  11100  11100  10950  11100
#16.02.23  11000  11150  10900  11050
from pandas import Series, DataFrame
stock_data = {'open' : [11650, 11100, 11200, 11100, 11000],
             'high' : [12100, 11800, 11200, 11100, 11150],
             'low' : [11600, 11050, 10900, 10950, 10900],
             'close' : [11900, 11600, 11000, 11100, 11050]}
fr_stock_data = DataFrame(stock_data)
fr_stock_data

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

In [17]:
fr_stock_data_day = DataFrame(stock_data, columns = ['open', 'high', 'low', 'close'], index = ['2019-08-11',
                                                                                               '2019-08-12', 
                                                                                               '2019-08-13',
                                                                                               '2019-08-14',
                                                                                               '2019-08-15'])
fr_stock_data_day

             open   high    low  close
2019-08-11  11650  12100  11600  11900
2019-08-12  11100  11800  11050  11600
2019-08-13  11200  11200  10900  11000
2019-08-14  11100  11100  10950  11100
2019-08-15  11000  11150  10900  11050

In [20]:
stock_category = ['open', 'high', 'low', 'close']
date = ['2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15']
fr_stock_data = DataFrame(stock_data, columns = stock_category, index = date)
fr_stock_data

             open   high    low  close
2019-08-11  11650  12100  11600  11900
2019-08-12  11100  11800  11050  11600
2019-08-13  11200  11200  10900  11000
2019-08-14  11100  11100  10950  11100
2019-08-15  11000  11150  10900  11050

In [22]:
close = fr_stock_data['close']
print(close)

2019-08-11    11900
2019-08-12    11600
2019-08-13    11000
2019-08-14    11100
2019-08-15    11050
Name: close, dtype: int64

In [23]:
print(fr_stock_data['2019-08-11'])
#컬럼으로는 접근할 수 있지만 인덱스 정보로는 접근하지 못한다.
#그럼 접근하고 싶으면 어떻게해?

KeyError: '2019-08-11'

In [24]:
#DataFrame에서는 .ix를 통해서 인덱스를 접근할 수 있다.
print(fr_stock_data.ix['2019-08-11'])

open     11650
high     12100
low      11600
close    11900
Name: 2019-08-11, dtype: int64

C:\anaconda3\envs\tensorflow1\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [27]:
print(fr_stock_data.columns)
print(fr_stock_data.index)

Index(['open', 'high', 'low', 'close'], dtype='object')
Index(['2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15'], dtype='object')